<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>project-craft-ware</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CWUserLoginServlet</display-name>
    <servlet-name>CWUserLoginServlet</servlet-name>
    <servlet-class>com.craft.ware.www.pack.src.controller.CWUserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CWUserLoginServlet</servlet-name>
    <url-pattern>/CWUserLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CWUserRoleServlet</display-name>
    <servlet-name>CWUserRoleServlet</servlet-name>
    <servlet-class>com.craft.ware.www.pack.src.controller.CWUserRoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CWUserRoleServlet</servlet-name>
    <url-pattern>/CWUserRoleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CWUserSignUpServlet</display-name>
    <servlet-name>CWUserSignUpServlet</servlet-name>
    <servlet-class>com.craft.ware.www.pack.src.controller.CWUserSignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CWUserSignUpServlet</servlet-name>
    <url-pattern>/CWUserSignUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CWProductListServlet</display-name>
    <servlet-name>CWProductListServlet</servlet-name>
    <servlet-class>com.craft.ware.www.pack.src.controller.CWProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CWProductListServlet</servlet-name>
    <url-pattern>/CWProductListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CWProductDetailsServlet</display-name>
    <servlet-name>CWProductDetailsServlet</servlet-name>
    <servlet-class>com.craft.ware.www.pack.src.controller.CWProductDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CWProductDetailsServlet</servlet-name>
    <url-pattern>/CWProductDetailsServlet</url-pattern>
  </servlet-mapping>
  
<!--  adding security constraint to work with SSL/TLS or HTTPS -->
<security-constraint>
    <web-resource-collection>
        <web-resource-name>project-craft-ware</web-resource-name>
        <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
        <!-- add CONFIDENTIAL for enabling SSL. To turn off SSL , change it to NONE -->
        <transport-guarantee>NONE</transport-guarantee>        
    </user-data-constraint>
</security-constraint>

</web-app>